<h1>Display All Recipes...</h1>
<% @recipes.each do |recipe| %>
  <a href="/recipes/<%=recipe.id%>">Name: <%=recipe.id%></a>
  <%= recipe.id %>
  <%= recipe.name %>
  <%= recipe.ingredients %>
  <%= recipe.cook_time %>
<% end %>

<!-- contains links to each recipe's show page... -->
